h1{
  font-size: larger;
}

nav {
  background-color: #FFB374;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color: #33718A;
  border-radius: 10px;
  }