
/**-----------Global----------**/

*{
  font-family: 'Archivo Narrow', sans-serif;

}

/**-----End of Global-------**/

/**---------------NavBar--------------**/
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
    font-family: 'Calistoga', cursive;
  }

.navbar {
  background-color: #FFB374;
  height: 100px;
  position: fixed;
  top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Archivo;
    }

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color: #33718A;
  border-radius: 10px;
  }

  /**-----End of Global-------**/


  /**---------------Body--------------**/

  .container {
    display: flex;
    margin: 10%;
    margin-top: 15%;
  }
  
  .color-block {
    width: 33.33%;
    height: 400px;
  }

  /**-----End of Body-------**/

/**-----------Footer----------**/

footer {
  background-color: #FFB374;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/**-----End of Footer-------**/